<ion-view title="Reservation">
  <ion-nav-buttons side="left">
    <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <h1 class="zawgyi talign-center order-heading">Reservation </h1>
    <div class="list">
      <label class="item item-input item-stacked-label">
        <span class="input-label">No. Of Person </span>
        <input type="number" placeholder="">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">First Name</span>
        <input type="text" placeholder="John">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Last Name</span>
        <input type="text" placeholder="Suhr">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Email</span>
        <input type="text" placeholder="john@suhr.com">
      </label>
       <label class="item item-input item-stacked-label">
        <span class="input-label">Address</span>
        <input type="text" placeholder="">
      </label>
       <label class="item item-input item-stacked-label">
        <span class="input-label">Date</span>
        <input type="text" placeholder="">
      </label>
       <label class="item item-input item-stacked-label">
        <span class="input-label">Time From</span>
        <input type="text" placeholder="">
      </label>
       <label class="item item-input item-stacked-label">
        <span class="input-label">Time To</span>
        <input type="text" placeholder="">
      </label>
    </div>
    <div class="padding">
        <button class="button button-block button-assertive">Order Now</button>
      </div>
 
  </ion-content>
</ion-view>
